Source: suerte
Section: gnome
Priority: optional
Maintainer: Javier Angulo Lucerón <javier.angulo1@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, build-essential, gcc, pkg-config, libgtk-3-dev
Standards-Version: 3.8.3
Homepage: http://weekendworks.wordpress.com/suerte

Package: suerte
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: multi-language learning tool
 suerte is an application that can be used to deal issues
 as prizes, parts of a work or anything that must be assigned
 to a person between a group. It can also be used to distribute
 some items randomly.
